.dashboard {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  position: relative;
  z-index: 1;
  border-radius: 20px;

  &::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    filter: blur(5px);
  }

  h1 {
    padding-block: 50px;
  }

  .header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  .activeFilter {
    height: 30px;
    display: flex;
    align-items: center;
    gap: 5px;

    select {
      text-align: center;
      padding: 5px 3px;
    }

    p {
      width: 60px;
      text-align: end;
    }
  }

  .newBook__button {
    padding: 10px 20px;
  }

  .activeFilter,
  .newBook__button {
    align-self: flex-end;
  }
}